[Desktop Entry]
Type=Link
Name=CANDIDATES-Halfa_COMPLETA_Liu2019_LAMOST_OBstars-IPHAS-SDSS-2MASS_short
URL=https://docs.google.com/spreadsheets/d/1Bx6Ke7QHMAzBqowtAZ_cuUoBOxO1Qjz558AqwRegsc4/edit?usp=drivesdk
